@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
  font-family: "Ubuntu";
}

h1 {
  font-size: 45pt;
  text-align: center;
}

h2 {
 left: 0;
 line-height: 200px;
 margin-top: -100px;
 text-align: center;
}

.titlebox {
  margin-top: -280px;
  border: 100px solid rgb(55, 234, 136);
}

.page {
  border: 100px solid rgb(10, 200, 100);
}
