@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
  font-family: "Ubuntu";
}

html {
  background-color: #e6f5eb
}

h1 {
  font-size: 45pt;
  text-align: center;
}

h2 {
 left: 0;
 line-height: 200px;
 margin-top: -100px;
 text-align: center;
}

li {
  margin: 15px;
}

.titlebox {
  margin-top: -280px;
  border: 100px solid rgb(55, 234, 136);
}

.image {
  margin: auto;
  width: 50%;
  padding: 10px;
}
