* {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

#container {
  left: 0;
  line-height: 200px;
  margin-top: 450px;
  text-align: center;
  top: 50%;
  width: 78%;
}

.second {
  margin-top: 800px;
  width: 129%;
  height: 1000px;
  background: rgba(255, 0, 0, 0.41);
}
